---

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";

const pageTitle = "Home Page";
const name = "Arslane";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<Navigation />
		<h1>My Astro Site</h1>
		<p>Hello and welcome to ExpatDz, my name is {name} and I will be teaching you everything about how to properly immigrate to Canada as an Algerian</p>
		<Footer />
	</body>
</html>
